<h2>Edit Historical Landmark</h2>

<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h3>Landmark Name: <input id="landmark_name" name="landmark[name]" type="text"></h3>
  <h3>Landmark Year: <input id="landmark_year_completed" name="landmark[year_completed]" type="text"></h3>

  <input type="submit" name="CEdit Landmark" value="Edit Landmark">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
